# Options for the request
[req]
# Do not ask questions interactively
prompt = no
# Add DN details defined below
distinguished_name = distinguished_name
# Add root CA extensions defined below
x509_extensions = root_ca

# DN details
[distinguished_name]
O = TC JKU Internal PKI
CN = TC JKU Internal Root CA

# Root CA details
[root_ca]
# Validation enforced, Cert for a CA, only one sub-CA level allowed
basicConstraints = critical, CA:true, pathlen:1
# For the key: Validation enforced, may sign certificates, may sign CRLs
# Disallow usage as a server cert (omit option digitalSignature)
keyUsage = critical, keyCertSign, cRLSign
# Create subjectKeyIdentifier
subjectKeyIdentifier = hash
# Create authorityKeyIdentifier, include key id, include issuer
authorityKeyIdentifier = keyid:always, issuer
