# Talos Secrets
secrets.yaml
# Concrete Talos Configuration (contains secrets)
controlplane.yaml
controlplane-patched.yaml
worker.yaml
worker-patched.yaml
# Terraform / Opentofu
*.tfvars
.terraform/
*.tfstate
*.tfstate.*
