{{ define "footer" }}

    <footer class="text-center text-lg-start text-muted fixed-bottom">
    </footer>

    <script src="/static/vendor/bootstrap/bootstrap.bundle.min.js"></script>

    {{block "js" .}}

    {{end}}

    <script>
    </script>

    </body>

    </html>
{{ end }}
